body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: gainsboro; */
    background-color: #ffffff;
    font-family: 'Gudea', sans-serif;
}

/* ----- Estilos generales ----- */

h4 {
    color: darkblue;
    margin: 15px 0;
}

b {
    color: darkblue;
}

p {
    line-height: 23px;
}

/* ----- Estilos del header ----- */

header {
    padding: 30px 0 0;
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 700px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px solid darkblue;
}

header h2,
header h3 {
    padding: 0 5px 10px;
    margin: auto;
    width: 100%;
    text-align: center;
    color: darkblue;
    
}

header nav {
    width: 100%;
}

header ul {
    display: flex;
    justify-content:space-around;
    padding: 0;
    margin: auto;
    max-width: 400px;
}

header ul li {
    margin: auto;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

header ul li a {
    text-decoration: none;
}
header ul li a:visited {
    color: darkblue;
}

/* ----- Estilos del main ----- */

main {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 900px;
    justify-content: center;
    flex-wrap: wrap;
}

main section {
    width: 90%;
}

main h4 {
    text-align: center;
}

main p {
    margin: auto;
    padding: 0 10px 10px 10px;
    display: block;
    font-size: 14px;
    max-width: 350px;
    text-align: justify;
}

main #work {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

main #work article {
    margin-bottom: 15px;
    display: block;
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
}

main #work article .proyecto {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    max-width: 200px;
    position: relative;
    border: 1px solid darkblue;
    margin-bottom: 10px;
    margin-top: 10px;
}
.description {
    width: 100%;
    /* background-color: gainsboro; */
    background-color: #ffffff;
    color: darkblue;
    z-index: 1;
    position: absolute;
    bottom: 0;
}
.description p {
    text-align: center;
    margin: 0;
    padding: 5px;
}

main #work article .proyecto img {
    overflow: hidden;
    width: 100%;
    filter: grayscale(100%);
}

main #work article .proyecto:hover img {
    overflow: hidden;
    width: 100%;
    filter: grayscale(0%);
    transition: filter 0.5s ease-in-out;
}

/* ----- Estilos del footer ----- */

footer {
    width: 100%;
    border-top: 1px solid darkblue;
}

footer .footer-info {
    /* border-top: 1px solid darkblue; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

footer .footer-info h4 {
    margin: auto;
    margin-top: 10px;
    width: 100%;
    padding: 5px 10px;
}

footer .footer-info a {
    display: block;
    width: 100%;
    padding: 5px 10px;
    text-decoration: none;
}

footer .footer-info a:visited {
    color: darkblue;
}

footer .footer-info p {
    width: 100%;
    margin: 0;
    padding: 5px 10px;
}

/* ----- media queries ----- */

@media (min-width: 760px) {
    body {
        position: relative;
        min-height: 100vh;
    }
    header {
        flex-wrap: nowrap;
        max-width: 1600px;
        padding: 30px 0;
    }
    header hr {
        display: none;
    }
    header nav {
        display: none;
    }
    header h2, header h3 {
        padding: 0;
    }
    main {
        flex-wrap: nowrap;
        margin-top: 30px;
    }
    main section#about {
        width: 50%;
    }
    main section#work {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }
    main #work article {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
    }
    main #work article .proyecto {
        align-items: flex-start;
        display: flex;
        flex-wrap: nowrap;
        margin: auto;
        width: 45%;
        filter: gray;
    }
    main #work article h4 {
        flex-wrap: wrap;
        width: 100%;
    }
    footer {
        position: absolute;
        bottom: 0;
        max-width: 1600px;
        margin-top: 15px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    footer .footer-info {
        max-width: 1600px;
        flex-wrap: nowrap;
        margin: 30px 0;
        text-align: center;
    }
    footer .footer-info h4 {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    body {
        max-height: 100vh;
    }
    header {
        margin-left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    main {
        max-width: 1600px;
        flex-wrap: nowrap;
    }
    
    main section#about {
        width: 33%;
    }
    main section#work {
        width: 66%;
    }
    main #work article {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
    }
    main #work article h4 {
        flex-wrap: wrap;
        width: 100%;
    }
    main #work article .proyecto {
        align-items: flex-start;
        display: flex;
        flex-wrap: nowrap;
        margin: auto;
        width: 45%;
        filter: gray;
    }
    footer {
        position: absolute;
        bottom: 0;
        max-width: 1600px;
        margin-top: 15px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}